<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
  <div class="container-fluid header">
    <a href="/" class="navbar-brand">
      Meliora
    </a>
    <button type="button" class="navbar-toggler custom-toggler" data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav header-nav ps-2 fs-6">
      </div>
    </div>
  </div>
</nav>