name: olecake
spec:
  environments:
    - name: dev
      build:
        from: master
  components:
    - name: server
      src: ./
      ports:
        - name: http
          port: 3000
      publicPort: http
      resources:
        requests:
          memory: "50M"
          cpu: "50m"
        limits:
          memory: "50M"
          cpu: "50m"
      environmentConfig:
        - environment: dev
          runAsNonRoot: true
          resources:
            requests:
              memory: "250M"
              cpu: "50m"
            limits:
              memory: "500M"
              cpu: "50m"
          replicas: 2
          horizontalScaling:
            minReplicas: 2
            maxReplicas: 5
  dnsAppAlias:
    environment: dev
    component: server
