<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') -%>
</head>

<body>

  <header>
    <%- include('../partials/header') -%>
  </header>

  <div class="container container-fluid">
    <h2>The Cake</h2>
    <img class="img-fluid theimg" src="images/thecake.jpg" alt="the cake">
  </div>

  <footer>
    <%- include('../partials/foother') -%>
  </footer>

</body>

</html>